#wrapper {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 20%;
    max-width: 960px;
    height: 500px;
    border: 1px solid rgb(8, 94, 47);
    font-family: 'Exo', sans-serif;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

#startTime {
    background-color: rgb(8, 94, 47);
    border: 3px solid rbga(255, 255, 255, 0);
    margin-left: 33%;
    border-radius: 32px;
    padding: 10px 32px;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    color: white;
    text-shadow: 0 6px 6px rbga(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

#currentTime {
    float: right;
    background-color: lightgreen;
    margin-top: 5%;
    margin-right: 5%;
}

button {
    border-radius: 8px;
    background-color: lightgreen;
    margin-top: 5%;
    margin-left: 5%;
}

#hs {
    float: left;
    background-color: lightgreen;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    display: inline-block;
    background-color: rgb(8, 94, 47);
    padding: 5px 20px;
    margin: 0 2px 2px 0;
    border: 3px solid rbga(255, 255, 255, 0);
    border-radius: 32px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 6px 6px rbga(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

#questionsDiv {
    margin: 30px;
    font-size: large;
    font-family: 'Exo', sans-serif;
    position: relative;
    justify-content: center;
}

#goBack {
    display: inline-block;
    padding: 5px 20px;
    margin: 0 2px 2px 0;
    border: 3px solid rbga(255, 255, 255, 0);
    border-radius: 32px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 6px 8px rbga(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    width: 25%;
    background-color: rgb(8, 94, 47);
}

#clear {
    display: inline-block;
    padding: 5px 20px;
    margin: 0 0 2px 2px 0;
    border: 3px solid rbga(255, 255, 255, 0);
    border-radius: 32px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 6px 8px rbga(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    width: 30%;
    background-color: rgb(8, 94, 47);
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

li {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 3px solid rbga(255, 255, 255, 0);
    border-radius: 32px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 6px 8px rbga(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    width: 80%;
    background-color: rgb(8, 94, 47);
}